/* app.js  */

.header-color{
    /* background: #fff; */
     /* background: #12c2e9;  
     background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9); 
        background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);   */
}

img{
    display: inline-block;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
    padding: 0;
    /* border: #333 solid 2px; */
    /* border-radius: 50%; */
}


/* landingpage.js  */

.landing-container{
    display: grid;
    place-items: center;
    /* background: red; */
    height: 96%;
    text-align: center;
}

.landing-container img{
    width: 50%;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    border: #333 solid 2px;
    border-radius: 50%;
}

.fname{
    display: block;
    font-size: 8vw;
    line-height: 1.8em;
    text-align: center;
    animation: fname-movement 0.8s 0.2s ease-out both;
}

.lname{
    display: block;
    font-size: 14vw;
    animation: lname-movement 0.6s 0.2s ease-out both;
}


.typer-text{
    text-align: center;
    opacity: 0;
    animation: hideTyper 0.1s 1.5s ease-in forwards;
}


.typer-text h4 {
    color: black;
    font-family: 'VT322';
    font-size:16px;
}

#cursor {
  border-right: .1em solid #00FF41;
  animation: blink .7s steps(1) infinite;
}

/* media-query  for landing-page*/
@media(min-width: 600px){
    .landing-container{
        display: flex;
        max-height: 100%;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        padding: 0 5% 0% 10%;
    }
    .landing-container img{
        border: none;
        border-radius: 0%;
        width: 40vw;
        height: auto;
        animation: img-movement 1.4s 0.2s ease-out both;

    }
    .landing-container div{
        /* background-color: lime; */
        padding-top: 20%;
    }
    .fname{
        display: block;
        /* font-weight: bold; */
        float: right;
        font-size: 6vw;
        /* line-height: 0.3em; */
        animation: fname-large-movement 1.4s 0.2s ease-out both;
    }
    .lname{
        display: block;
        font-size: 10vw;
        /* font-weight: bold; */
        margin:0;
        animation: fname-movement 0.4s 0.2s ease-out both;
    }
    .typer-text{
        float: left;
        /* line-height: 10em; */
    }
    .typer-text h4 {
        color: black;
        font-family: 'VT322';
        font-size: 30px;
        margin-top: 2em;
       }
}


/* animation  for landing page*/

@keyframes
fname-movement{
0%{ transform: translateX(-120px);}
100% {transform: translateX(center);}
}

@keyframes
fname-large-movement{
0%{ transform: translateX(-300px);}
100% {transform: translateX(center);}
}

@keyframes
lname-movement{
0%{ transform: translateX(170px);}
100% {transform: translateX(center);}
}

@keyframes
img-movement{
0%{ transform: translateX(190px);}
100% {transform: translateX(center);}
}


@keyframes blink {
    50% {
      border-color: transparent;
    }
  }

@keyframes hideTyper{
    100%{
        opacity: 1;
    }
}


/* projects.js  */

@media(min-width: 1025px){
    /* the cards will be seen as flex for browser with width more than 768px */
    .projects-list{
        display: flex;
        justify-content: space-between;
     }
}

.projects-list div{
    margin: 0% auto 3% auto;
}


/* contact.js  */

#contact-container{
    /* background-color: turquoise; */
    display: flex;
    flex-direction: column;
    padding: 1.5em 0em;
    text-align: start;
    width: 100%;
}


#contact-container .contact-sec-flex{
    /* background-color: yellow; */
    margin-left: 0;
    padding: 0 0.5em;
}

.contact-sec-flex h2{
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    margin: 1.5em 0 2em 0;
    line-height: 0;
}

#contact-container .contact-list{
    /* background-color: tomato; */
    font-size: calc(10px + 2vw);
    margin-bottom: 0;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Oxygen', sans-serif;

}

#contact-container .contact-list i{
    display: block;
    /* background-color: turquoise; */
    padding-right: 6vw;
    font-size: calc(20px + 2vw);
}


.contact-social-link{
    /* background-color: #00FF41; */
    margin: 0 1em;
    text-align: start;
}

.contact-social-link i{
    color: black;
    font-size: calc(25px + 2vw);
    margin-right: 20px; 
}

.contact-social-link i:hover{
    color: rgb(39, 4, 95);
}

@media(min-width: 700px){
    #contact-container{
        /* background-color: turquoise; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        margin: 0;
        padding: 1.5em; 
        text-align: start;
    }

    #contact-container img{
        /* display: inline; */
        width: 100%;
        height: auto;
        /* background-color: #333; */
        /* height: 70vh; */
        padding: 0;
    }

    #contact-container .contact-sec-flex{
        flex: 3;
        /* background-color: yellow; */
        margin-left: 0;
        padding: 0 1.5em;
        /* padding-left: 0em;
        padding-right: 1.5em; */
        margin-bottom: 0em;
    }
}


/* resume.js  */
.resume_container{
    height: 88%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


.my-intro{
    background-color:skyblue;
    flex: 2;
}

.my-resume{
    background-color: palevioletred;
    flex: 3;
}

.my-avatar img{
    width: 80%;
    margin: 20px;
}


/* main-footer.js */

.main-footer{
    /* background-color: orchid; */
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0 0 1% 0; /* clockwise -> T-R-B-L*/
}

.main-footer > a{
    justify-content: space-between; 
    text-decoration: none;
    color: black;
    margin-right: 5px;
    opacity: 0.6;
}

@media(min-width: 600px){
    .main-footer{
        align-self: start;
        flex-wrap: nowrap;
        padding: 1% 0 0.5% 1%;
    }
    .main-footer > a{
        /* padding: 0 0 0 0.5%;   */
        opacity: 0.6;
    }
}


/*  drawer  */

.drawer-footer{
    /* position: absolute; */
    color: white;
    /* top: calc(100% - height); */
    width: 86.8%;
}

@media(min-width: 600px){
    Drawer img{
        width: 0;
        height: 0;
    }
}



/* resume.js  */


.resume-container{
    width: 100%;
    margin: 0;
    /* background-color: slategray; */
    /* color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: calc(10px + 0.3em); */
    text-align: center;
    line-height: 1.6em;
}


.resume-container img{
    /* margin: 0; */
    display: block;
    width: 100%;
    height: auto;
    /* background-color: olive; */
}

.button{
    display: inline-block;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 1em 1.5em;
    margin: 0.5em 0;
}

.button:hover{
    background-color:#E6E6FA;
    color: #333;
}


/* section-aboutme known as section-a*/

#section-aboutme{
    /* background-color: lime; */
    padding: 1.5em 0 0 0;

}

#section-aboutme p,
#section-exp p,
#section-edu p,
#section-more p
{
    /* width: 100%; */
    /* background-color: orange; */
    padding: 0 1.5em;
    line-height: 1.6em;
}


/* experience section  known as section-c*/

#section-exp{
    padding: 0;
    /* background-color: olive;  */
    margin-top: 0em;
    text-align: center;
}

#section-exp h4{
    padding: 0em;
    margin-bottom: 0em;
}

#section-exp .content-wrap{
    display:grid;
    /* background-color: palegreen;  */
    place-items: center; 
}

#section-exp p{
    margin: 1em 0 0.5em 0;
}

#section-exp .exp-list{
    margin-top: 0em;
    padding: 0;
}


#section-exp i{
    font-size: 1.5em;
    margin-right: 0.5em;
}


/* section-education known as section-b*/

#section-edu{
    /* background-color: yellow; */
    margin: 0 0 2.5em 0;
    padding-top: 0;
}

#section-edu .education-grid{
    margin-top: 0;
    padding: 1em 1.5em;
    /* background-color: magenta; */
}
#section-edu h4{
    margin: 0;
}

#section-edu h6{
    margin: 1.5em 0 0 0;
}

#section-edu ul{
    text-align: start;
    margin-left : -0.5em;
}

#section-edu .level,
#section-edu .institute{
    list-style: none;
}


#section-more{
    /* background-color: turquoise; */
    margin-bottom: 1.5em;
}

/* media-query for resume.js -> make grid */

@media(min-width: 660px){
    .resume-container img{
        display: inline-block;
    }

    #section-exp div,
    #section-more .content-wrap{
        grid-area: content-wrap;
        grid-column: 2 / 4;
    }

    #section-exp img,
    #section-edu .resume-illustration,
    #section-more img{
        grid-area: resume-illustration;
        grid-column: 4 / 6;
    }

    #section-aboutme,
    #section-exp,
    #section-edu,
    #section-more{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
    }

    #section-aboutme, 
    #section-exp{
        margin-bottom: 4em;
    }

    #section-aboutme img
    {
        grid-column: 2 / 4;
    }
    #section-aboutme div
    {
        grid-column: 4 / 6;
        place-items: center;
    }

    /* sectioin-b  */
    #section-edu img{
        grid-column: 2 / 4;
    }
    #section-edu div{
        grid-column: 4 / 6;
        /* grid-column-gap: 2em; */
    }

    #section-exp{
        grid-template-areas: "content-wrap resume-illustration";
    }

    #section-more{
        grid-template-areas: "content-wrap resume-illustration";
    }

} 
